.header {
    background-color: #89bf04;
    .logo {
        font-size: 1.5em;
        font-weight: bold;
        text-decoration: none;
        background: transparent url(./Logo.png) no-repeat left center;
        padding: 20px 0 20px 40px;
        color: white;
    }
}
